# Não enviar arquivo de configuração de ambiente (environment)
.env
*.env

# Não enviar arquivos de configuração jetbrains
.idea
*.iml

# Não enviar diretório de configuração do ambiente virtual de desenvolvimento (venv)
chatbot/
